.vs/
**/.vs/
**/out/
.out/
**/x64/
x64/
*.sln
**/.sln
.vcxproj
**/.vcxproj
build/
**/build
**/libs/
libs/

**/doxygen_output/
**/.idea/
**/cmake-build-debug/
**/cmake-build-debug-mingw/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!/dependencies/
!/dependencies/**
engine/dependencies


# Ik heb deze map nodig als ik valgrind wil gebruiken -D
cmake-build-debug-wsl/**